<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h2>Welocome to my Blog</h2>
<h4><i>By: <span>Voldemort</span></i></h4>
<h3>Blog Posts: </h3>
<table>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Published On</th>
    </tr>
    <tr th:each="post:${posts}">
        <td th:text="${post.title}">Harry Potter new book</td>
        <td th:text="${post.author}">HG Wells</td>
        <td th:text="${post.postDate}">17-05-2020</td>
    </tr>
</table>
</body>
</html>